{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/png"
            href="{% static "account/images/logos/favicon.png" %}" />
        <link rel="stylesheet" href="{% static "account/css/styles.min.css" %}" />
    </head>

    <body>
        <!--  Body Wrapper -->
        <div class="page-wrapper" id="main-wrapper" data-layout="vertical"
            data-navbarbg="skin6" data-sidebartype="full"
            data-sidebar-position="fixed" data-header-position="fixed">
            {% block sidebar %}{% endblock %}
            <div class="container-fluid">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %} {% endblock %}
            </div>
        </div>
        <script src="{% static "account/libs/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "account/libs/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "account/js/sidebarmenu.js" %}"></script>
        <script src="{% static "account/js/app.min.js" %}"></script>
        <script src="{% static "account/libs/apexcharts/dist/apexcharts.min.js" %}"></script>
        <script src="{% static "account/libs/simplebar/dist/simplebar.js" %}"></script>
        <script src="{% static "account/js/dashboard.js" %}"></script>
    </body>

</html>