{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load mptt_tags %}
{% load comment_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="site-cover site-cover-sm same-height overlay single-page"
      style="background-image: url('{% thumbnail post.image 215x215 quality=100%}');">
      <div class="container">
        <div class="row same-height justify-content-center">
          <div class="col-md-6">
            <div class="post-entry text-center">
              <h1 class="mb-4">{{ post.title }}</h1>
              <div class="post-meta align-items-center text-center">
                <figure class="author-figure mb-0 me-3 d-inline-block"><img src="{% static 'images/person_1.jpg' %}" alt="{{ post.title }}" class="img-fluid"></figure>
                <span class="d-inline-block mt-1">By {{ post.author }}</span>
                <span>&nbsp;-&nbsp; {{ post.publish|date }} | {{ post.publish|time }} | <a href="{{ absolute_url }}" target="_blank"><i class="ri-link text-white"></i></a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="section">
      <div class="container">

        <div class="row blog-entries element-animate">

          <div class="col-md-12 col-lg-8 main-content">

            <div class="post-content-body">
              <p>{{ post.body|safe }}</p>
            </div>

            <div class="pt-5">
              <p>
                  Category: <a href="#">{{ post.category }}</a>
                  Tags:
                  {% for tag in post.tags.all %}
                      <a href="#">#{{ tag }}</a>
                  {% endfor %}
              </p>
            </div>

            {# Comment section #}
            <div class="pt-5 comment-wrap">
                {% render_comments post request %}
            </div>

          </div>

          <!-- END main-content -->

          <div class="col-md-12 col-lg-4 sidebar">
            <div class="sidebar-box search-form-wrap">
              <form action="#" class="sidebar-search-form">
                <span class="bi-search"></span>
                <input type="text" class="form-control" id="s"
                  placeholder="Type a keyword and hit enter">
              </form>
            </div>
            <!-- END sidebar-box -->
            <div class="sidebar-box">
              <div class="bio text-center">
                <img src="{% static 'images/person_2.jpg' %}" alt="Image Placeholder"
                  class="img-fluid mb-3">
                <div class="bio-body">
                  <h2>Hannah Anderson</h2>
                  <p class="mb-4">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Exercitationem facilis sunt repellendus
                    excepturi beatae porro debitis voluptate nulla quo veniam
                    fuga sit molestias minus.</p>
                  <p><a href="#"
                      class="btn btn-primary btn-sm rounded px-2 py-2">Read my
                      bio</a></p>
                  <p class="social">
                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                  </p>
                </div>
              </div>
            </div>
            <!-- END sidebar-box -->
            <div class="sidebar-box">
              <h3 class="heading">Popular Posts</h3>
              <div class="post-entry-sidebar">
                <ul>
                  <li>
                    <a href>
                      <img src="{% static 'images/img_1_sq.jpg' %}" alt="Image placeholder"
                        class="me-4 rounded">
                      <div class="text">
                        <h4>There’s a Cool New Way for Men to Wear Socks and
                          Sandals</h4>
                        <div class="post-meta">
                          <span class="mr-2">March 15, 2018 </span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href>
                      <img src="{% static 'images/img_2_sq.jpg' %}" alt="Image placeholder"
                        class="me-4 rounded">
                      <div class="text">
                        <h4>There’s a Cool New Way for Men to Wear Socks and
                          Sandals</h4>
                        <div class="post-meta">
                          <span class="mr-2">March 15, 2018 </span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href>
                      <img src="{% static 'images/img_3_sq.jpg' %}" alt="Image placeholder"
                        class="me-4 rounded">
                      <div class="text">
                        <h4>There’s a Cool New Way for Men to Wear Socks and
                          Sandals</h4>
                        <div class="post-meta">
                          <span class="mr-2">March 15, 2018 </span>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- END sidebar-box -->

          <!-- END sidebar -->

        </div>
      </div>
    </section>

    <!-- Start posts-entry -->
    <section class="section posts-entry posts-entry-sm bg-light">
      <div class="container">
        <div class="row mb-4">
          <div class="col-12 text-uppercase text-black">More Blog Posts</div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="blog-entry">
              <a href="single.html" class="img-link">
                <img src="{% static 'images/img_1_horizontal.jpg' %}" alt="Image"
                  class="img-fluid">
              </a>
              <span class="date">Apr. 14th, 2022</span>
              <h2><a href="single.html">Thought you loved Python? Wait until you
                  meet Rust</a></h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <p><a href="#" class="read-more">Continue Reading</a></p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="blog-entry">
              <a href="single.html" class="img-link">
                <img src="{% static 'images/img_2_horizontal.jpg' %}" alt="Image"
                  class="img-fluid">
              </a>
              <span class="date">Apr. 14th, 2022</span>
              <h2><a href="single.html">Startup vs corporate: What job suits you
                  best?</a></h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <p><a href="#" class="read-more">Continue Reading</a></p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="blog-entry">
              <a href="single.html" class="img-link">
                <img src="{% static 'images/img_3_horizontal.jpg' %}" alt="Image"
                  class="img-fluid">
              </a>
              <span class="date">Apr. 14th, 2022</span>
              <h2><a href="single.html">UK sees highest inflation in 30 years</a></h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <p><a href="#" class="read-more">Continue Reading</a></p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="blog-entry">
              <a href="single.html" class="img-link">
                <img src="{% static 'images/img_4_horizontal.jpg' %}" alt="Image"
                  class="img-fluid">
              </a>
              <span class="date">Apr. 14th, 2022</span>
              <h2><a href="single.html">Don’t assume your user data in the cloud
                  is safe</a></h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <p><a href="#" class="read-more">Continue Reading</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End posts-entry -->
{% endblock %}