{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load thumbnail %}
{% load blog_tags %}

{% block title %}{% if category %}{{ category.name }}{% else %}All Posts{% endif %}{% endblock %}

{% block content %}
    <div class="section search-result-wrap">
        <div class="container">
            {% if category %}
                <div class="row">
                    <div class="col-12">
                        <div class="heading">Category: {{ category.name }}</div>
                    </div>
                </div>
            {% endif %}
            <div class="row posts-entry">
                <div class="col-lg-8">

                    {% for post in posts %}
                        <div class="blog-entry d-flex blog-entry-search-item">
                            <a href="{{ post.get_absolute_url }}" class="img-link me-4">
                                <img src="{% thumbnail post.image 215x215 quality=100%}" alt="{{ post.title }}" class="img-fluid" style="width: 150px; height: 150px;">
                            </a>
                            <div>
                                <span class="date">{{ post.publish|date }} | {{ post.publish|time }} &bullet; <span>written by {{ post.author }}</span> | <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></span>
                                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
{#                                <p>{{ post.body|safe|truncatewords_html:10 }}</p>#}
                                <p><a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-outline-primary">Read
                                        More</a></p>
                            </div>
                        </div>
                    {% endfor %}

                    {% with page=page_obj %}
                    <div class="row text-start pt-5 border-top">
                        <div class="col-md-12">
                            <div class="custom-pagination">
                                {% if page.has_previous %}
                                    <a href="?page={{ page.previous_page_number }}">Pre</a>
                                {% endif %}
                                {% for num in page.paginator.page_range %}
                                    <a href="?page={{ num }}">{{ num }}</a>
                                {% endfor %}
                                {% if page.has_next %}
                                    <a href="?page={{ page.next_page_number }}">Next</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endwith %}

                </div>

                <div class="col-lg-4 sidebar">
                    <!-- END sidebar-box -->
                    <div class="sidebar-box">
                        <h3 class="heading">Latest Posts</h3>
                        <div class="post-entry-sidebar">
                            {% show_latest_post 4 %}
                        </div>
                    </div>
                    <!-- END sidebar-box -->

                </div>
            </div>
        </div>
    </div>
{% endblock %}