{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}
{% load thumbnail %}

{% block title %}Search{% endblock %}


{% block content %}
    <div class="section search-result-wrap">
        <div class="container">
            {% if query %}
                <div class="row">
                    <div class="col-12">
                        <div class="heading">Posts contain "{{ query }}"</div>
                        <div class="heading">
                            {% with results.count as total_results %}
                                Found {{ total_results }} result{{ total_results|pluralize }}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row posts-entry">
                <div class="col-lg-8">

                    {% for post in results %}
                        <div class="blog-entry d-flex blog-entry-search-item">
                            <a href="{{ post.get_absolute_url }}" class="img-link me-4">
                                <img src="{% thumbnail post.image 215x215 quality=100%}" alt="{{ post.title }}" class="img-fluid" style="width: 215px; height: 215px;">
                            </a>
                            <div>
                                <span class="date">{{ post.publish|date }} | {{ post.publish|time }} &bullet; <a href="#">{{ post.category }}</a></span>
                                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
{#                                <p>{{ post.body|safe|truncatewords_html:10 }}</p>#}
                                <p><a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-outline-primary">Read
                                        More</a></p>
                            </div>
                        </div>
                    {% empty %}
                        <p>There are no posts for your search.</p>
                    {% endfor %}

                    {% with page=page_obj %}
                    <div class="row text-start pt-5 border-top">
                        <div class="col-md-12">
                            <div class="custom-pagination">
                                {% if page.has_previous %}
                                    <a href="?page={{ page.previous_page_number }}">Pre</a>
                                {% endif %}
                                {% for num in page.paginator.page_range %}
                                    <a href="?page={{ num }}">{{ num }}</a>
                                {% endfor %}
                                {% if page.has_next %}
                                    <a href="?page={{ page.next_page_number }}">Next</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endwith %}

                </div>

                <div class="col-lg-4 sidebar">
                    <!-- END sidebar-box -->
                    <div class="sidebar-box">
                        <h3 class="heading">Popular Posts</h3>
                        <div class="post-entry-sidebar">
                            <ul>
                                <li>
                                    <a href>
                                        <img src="images/img_1_sq.jpg" alt="Image placeholder"
                                            class="me-4 rounded">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href>
                                        <img src="images/img_2_sq.jpg" alt="Image placeholder"
                                            class="me-4 rounded">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href>
                                        <img src="images/img_3_sq.jpg" alt="Image placeholder"
                                            class="me-4 rounded">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END sidebar-box -->

                </div>
            </div>
        </div>
    </div>
{% endblock %}