{% load mptt_tags %}

<ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
    <li {% if not category %}class="active"{% endif %}><a href="{% url 'post:post_list' %}">All</a></li>
    {% recursetree categories %}
        <li class="has-children {% if category.slug == node.slug %}active{% endif %}">
            <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>

            {% if not node.is_leaf_node %}
                <ul class="dropdown">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
