{% extends "acc_base.html" %}
{% load static %}

{% block title %}Change password{% endblock %}

{% block content %}
    <div
        class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
          <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-6 col-xxl-3">
              <div class="card mb-0">
                <div class="card-body">
                  <a href="{% url 'account:dashboard' %}"
                    class="text-nowrap logo-img text-center d-block py-3 w-100">
                    <h1 class="text-primary"><strong>Blogy</strong></h1>
                  </a>
                  <p class="text-center">Change your password</p>
                  <form method="post">
                      {% csrf_token %}
                    <div class="mb-3">
                      <label for="id_old_password" class="form-label">Old password</label>
                      <input type="password" name="old_password" class="form-control"
                        id="id_old_password">
                    </div>
                    <div class="mb-4">
                      <label for="id_new_password1" class="form-label">New password</label>
                      <input type="password" name="new_password1" class="form-control"
                        id="id_new_password1">
                    </div>
                    <div class="mb-4">
                      <label for="id_new_password2" class="form-label">New password confirmation</label>
                      <input type="password" name="new_password2" class="form-control"
                        id="id_new_password2">
                    </div>
                      {% if form.errors %}
                          <p class="text-danger"><small>{{ form.errors }}</small></p>
                      {% endif %}
                    <input type="submit" value="Change" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
{% endblock %}