{% extends "acc_base.html" %}

{% block title %}Logged out{% endblock %}

{% block content %}
    <div
        class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
          <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-6 col-xxl-3">
              <div class="card mb-0">
                <div class="card-body">
                    <h2 class="text-center mb-5">Password Changed</h2>
                    <p class="text-center">Your password has been successfully changed.</p>
                    <p><a href="{% url "account:dashboard" %}" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Go to dashboard</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
{% endblock %}