{% extends "acc_base.html" %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div
        class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
          <div class="row justify-content-center w-100">
            <div class="col-md-8 col-lg-6 col-xxl-3">
              <div class="card mb-0">
                <div class="card-body">
                  <a href="{% url 'account:dashboard' %}"
                    class="text-nowrap logo-img text-center d-block py-3 w-100">
                    <h1 class="text-primary"><strong>Blogy</strong></h1>
                  </a>
                  <p class="text-center">Reset your password</p>
                  {% if validlink %}
                      <p class="text-center"><small>Enter your email address to get a new password.</small></p>
                      <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label for="id_new_password1" class="form-label">New password</label>
                          <input type="password" name="new_password1" class="form-control"
                            id="id_new_password1">
                        </div>
                        <div class="mb-4">
                          <label for="id_new_password2" class="form-label">New password confirmation</label>
                          <input type="password" name="new_password2" class="form-control"
                            id="id_new_password2">
                        </div>
                        {% if form.errors %}
                            <p class="text-danger"><small>{{ form.errors }}</small></p>
                        {% endif %}
                        <input type="submit" value="Send email" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">
                      </form>
                  {% else %}
                    <p class="text-center">
                        The password link was invalid, possibly because it has already been used. Please request a new password reset
                    </p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
{% endblock %}