{% extends "acc_base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}Dashboard{% endblock %}

{% block sidebar %}
    {% include 'account/_sidebar.html' %}
{% endblock %}

{% block content %}
    <!--  Row 1 -->
    <div class="row">
        <div class="col-lg-6">
            <!-- Yearly Breakup -->
            <div class="card overflow-hidden">
                <div class="card-body p-4">
                    <h5
                        class="card-title mb-9 fw-semibold">Posts</h5>
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h4 class="fw-semibold mb-3">You have {{ posts_count }} posts</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- Yearly Breakup -->
            <div class="card overflow-hidden">
                <div class="card-body p-4">
                    <h5
                        class="card-title mb-9 fw-semibold">Create or View</h5>
                    <div class="row align-items-center">
                        <div class="col-8">
                            <strong><a href="{% url 'account:author_post_list' %}" class="btn btn-primary">All posts</a></strong>
                            <strong><a href="{% url 'account:post_create' %}" class="btn btn-secondary">Create new post</a></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="row mb-4">
                        <div class="col-6">
                            <h1 class="card-title fw-semibold">Posts</h1>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'account:author_post_list' %}" class="btn btn-primary float-end">More</a>
                        </div>
                    </div>
                    {% for post in latest_posts %}
                    	<div class="col-md-4">
                            <div class="card">
                                <img
                                    src="{% thumbnail post.image 200x200 quality=100 %}"
                                    class="card-img-top" alt="{{ post.title }}">
                                <div class="card-body">
                                    <h6 class="card-title"><small style="margin-right: 15px;">{{ post.title|truncatechars:30 }}</small>{% if post.status == 'DF' %}<span class="btn btn-warning btn-sm">Draft</span>{% else %}<span class="btn btn-primary btn-sm">Published</span>{% endif %}</h6>
                                    <h6 class="card-subtitle mb-3 text-muted">{{ post.comments.count }} Comment{{ post.comments.count|pluralize }}</h6>
                                    <a href="{% url 'account:post_edit' post.id %}" class="btn btn-secondary">Edit</a>
                                    <a href="{% url 'account:post_delete' post.id %}" class="btn btn-danger">Delete</a>
                                    {% if post.status == 'PB' %}<a href="{{ post.get_absolute_url }}" class="btn btn-outline-dark" target="_blank">View</a>{% endif %}
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>You don't have any posts yet.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}