{% extends 'acc_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block content %}
    <div
        class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div
            class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="{% url 'post:post_list' %}"
                                class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <h1 class="text-primary"><strong>Blogy</strong></h1>
                            </a>
                            <p class="text-center">Register</p>
                            <form method="post">
                                {% csrf_token %}
                                {{ user_form|crispy }}
                                <input type="submit" value="Create an account" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">
                                <div
                                    class="d-flex align-items-center justify-content-center">
                                    <p class="fs-4 mb-0 fw-bold">Already
                                        have an Account?</p>
                                    <a class="text-primary fw-bold ms-2"
                                        href="{% url 'account:login' %}">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}