{% extends 'acc_base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div
        class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div
            class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="{% url 'post:post_list' %}"
                                class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <h1 class="text-primary"><strong>Blogy</strong></h1>
                            </a>
                            <p class="text-center">Register</p>
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="id_username"
                                        class="form-label">Username</label>
                                    <input type="text"
                                        class="form-control"
                                           name="username"
                                        id="id_username"
                                           maxlength="150"
                                        aria-describedby="textHelp">
                                    <span class="help-text">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
                                </div>
                                <div class="mb-3">
                                    <label for="id_first_name"
                                        class="form-label">First name</label>
                                    <input type="text"
                                        class="form-control"
                                        id="first_name"
                                           name="id_first_name"
                                        aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="id_last_name"
                                        class="form-label">Last name</label>
                                    <input type="text"
                                        class="form-control"
                                        id="last_name"
                                           name="id_last_name"
                                        aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="id_email"
                                        class="form-label">Email address</label>
                                    <input type="email"
                                        class="form-control"
                                        id="id_email"
                                           name="email"
                                        aria-describedby="emailHelp">
                                </div>
                                <div class="mb-4">
                                    <label for="id_password"
                                        class="form-label">Password</label>
                                    <input type="password"
                                        class="form-control"
                                           name="password"
                                        id="id_password">
                                </div>
                                <div class="mb-4">
                                    <label for="id_password2"
                                        class="form-label">Confirm password</label>
                                    <input type="password"
                                        class="form-control"
                                           name="password2"
                                        id="id_password2">
                                </div>
                                {% if user_form.errors %}
                                    <p class="text-danger"><small>{{ user_form.errors }}</small></p>
                                {% endif %}
                                <input type="submit" value="Create an account" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">
                                <div
                                    class="d-flex align-items-center justify-content-center">
                                    <p class="fs-4 mb-0 fw-bold">Already
                                        have an Account?</p>
                                    <a class="text-primary fw-bold ms-2"
                                        href="{% url 'account:login' %}">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}